@tailwind base;
@tailwind components;
@tailwind utilities;
 

html {
 
   @apply  font-sans ;
}

body{
    @apply bg-blue-100;
}

h1,h2,h3,h4,h5,h6 {
    @apply font-inter font-medium ;
  /*   font-family: var(--font-inter); */
}
h1{
   @apply text-h1;
}
h2{
   @apply text-h2;
}
h3{
   @apply text-h3;
}
h4{
   @apply text-h4;
}
h5{
   @apply text-h5;
}
h6{
   @apply text-h5;
} 
/*  
.btn{
  @apply text-white font-medium py-3 px-6 border-2 space-x-1  inline-flex  justify-center text-base text-center leading-6 rounded-lg transition-all ease-in-out active:scale-105 hover:shadow-md ;  
  --color:  theme('colors.blue.500'); 
  background-color: var(--color);
  background-color: var(--color);
  border-color: var(--color)  ;
  svg{
   @apply w-6 h-6;
  }
  &:hover:not(.btn-outline){ 
    --color-primary-darkest: color-mix(in srgb,var(--color),#000 15%);

     background:    var(--color-primary-darkest)  ;
     border-color:  var(--color-primary-darkest) ;
     
  }
  &-outline{ 
     @apply  border-2  border-solid  bg-transparent   ;
     border-color: var(--color)  ;
     color: var(--color)  ; 
     &:hover{
        background-color: var(--color)  ;
        @apply text-white;
     }
  }
  &-sm{
   @apply py-2 px-4;
  }
   
  &-secondary{
     --color:  theme('colors.blue.300'); 
     color: rgb(32, 32, 32);
  }
  &-darker{
     --color:  theme('colors.gray.600'); 
     color: rgb(255, 255, 255);
  }
  &-danger{ 
   --color:  theme('colors.red.500'); 

  }
  &-info{  
   --color:  theme('colors.gray.200');  
   color: black; 
  }

}   */

/* select{
   @apply  outline-none px-3 py-2 border w-full border-gray-400  rounded-md;
} */

input{
   @apply py-2 w-full block rounded-lg border border-gray-400  focus-within:outline-gray-600 px-4;
}

/* .nav-link{
   @apply  w-4 h-4 bg-white absolute -left-4 bottom-0; 
   &::after{
      content: '';
      @apply  w-7 h-7 bg-blue-600 absolute rounded-full z-[1] -left-3 bottom-0; 
   }
   &--bottom{
      @apply  bottom-0 -right-3 left-auto ; 
      &::after{ 
         @apply  left-auto bottom-0  -right-4 #{!important}; 
      }
   }
} */
 

.table{  
   border-collapse:initial;
   @apply w-full border border-gray-300 border-spacing-0  rounded-lg text-left  overflow-hidden #{!important};
 
   
    th,td{ 
   /*    @apply  border-collapse border border-slate-300 px-2 leading-normal py-2; */
     /*  @apply    border-t border-r border-slate-300 px-2 leading-normal py-2; */
     @apply border border-gray-300 border-t  border-r-0 border-b-0 border-l-0  px-3 py-2 ;
   }
   th{
      @apply   border-t-0  py-4 bg-gray-100 ;
   }
   td{
      @apply text-sm;
   }
   
   &-cart{
      
      thead{
         @apply max-sm:hidden;
      }
      tbody{
         @apply max-sm:bg-blue-100;
        
         tr{
            @apply  max-sm:bg-white  ; 
         }
         & tr:not(:last-child) {
            @apply  max-sm:mb-4 max-sm:block ; 
         }
      }
      td{
         @apply max-sm:flex justify-between items-center text-right ;
        
         &{
            @apply  max-sm:before:content-[attr(data-title)':']  before:text-left;
         }
        
      }
   }
}


.modal{
   &-cart{
   /*    -webkit-backdrop-filter: blur(1px);
      backdrop-filter: blur(1px); */
   }
}

.product{
   &-figure{
      @apply relative ;
      &::before{
         content: '';
         @apply absolute left-[0] top-0 bottom-0 right-0 bg-black bg-opacity-10 translate-x-[-100%] transition-all duration-300 ease-linear;
      }
    
   }
   &:hover  .product-figure::before{
      @apply  translate-x-[0]; 
   }

  
}